body {
    
    background-repeat: no-repeat;
    
     }
   
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0PX;;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #ccc;
    
  }
  input[type=text], input[type=password]:hover{
      border-bottom: 2px solid cornflowerblue;
  }
  
  
  button {
    background-color:green;
    color:black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
   
    width: 100%;
  }
  .circle{
     width: 100px;
     height: 100px;
     border-radius: 100%;
     
     position:absolute;
     top: 110px;
     left: calc(50%-50px);
    margin-top: -100px;
     margin-left: 10px;
  }
  .circle1{
     width: 120px;
     height: 120px;
     border-radius: 100%;
     
   position:absolute;
     top: 50px;
     left: calc(50%-50px);
     margin-top: -100px;
    margin-left: 115px;
     background: white;
  }
  
  .circle2{
     width: 60px;
     height: 60px;
     border-radius: 100%;
     box-shadow: 1px 1px 1px 2px rgb(204, 204, 204);
  
     
   position:absolute;
     top: 550px;
     left: calc(50%-50px);
     margin-top: -100px;
    margin-left: -100px;
     background: white;
  }
  
  .a2{
      text-decoration: none;
      color: cornflowerblue;
      font-size: 11.5px;
      font-weight: 700;
      
  }
  .a1{
      text-decoration: none;
      color: cornflowerblue;
      font-size: 16px; 
  }
  
  
  .arrow{
      width: 60px;
     height: 60px;
     border-radius: 50%;
     margin-left: 110px;
     margin-top: 60px;
  }
  
  .pass{
   padding: 0%
  
  }
  
  .container {
  box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
   padding: 50px;  
   position: absolute;;
  width: 300px;
  height: 380px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 8px;
      background: white;
  .makecenter{
      display:flex;
      justify-content: center;
      align-items: center;
  }
      
  }
  
  label{
      font-family: "Helvetica Neue", Helvetica, sans-serif; 
      color: cornflowerblue;
  }
  
  #label1{
  color:gray;
  }
  
  #label1:hover{
      color:cornflowerblue;
  }
  #label3{
      color: gray;
      font-size: 12px;
      line-height: 12px;
  
  }
  
  #checkbox1{
      width: 1.3em;
      height: 1.3em;
      background-color: white;
      border-radius: 50%;
      vertical-align: middle;
      border: 1px solid #ddd;
      -webkit-appearance: checkbox;
      outline: none;
      cursor: pointer;
      
  }
  
  .i1{
      position: absolute;
      right: 5px;
      top:193px;
      height: 30px;
      width: 30px;
      font-size: 20px;
      left: 320px;
  }
  
  .border1{
      border-bottom: 2px solid rgb(245, 243, 243);
      background-origin: padding-box;
      margin-left: 60px;
    margin-right: 60px;
  
  }
  
  @media screen and (min-width: 480px) {
.container{
    width: 340px;
}  

.circle2{
    width: 60px;
}
.i1{
    width: 30px;

}


}

